How to load a language:


<ul>
<li><a href="/download">Download</a> a dictionary (up to a million unique words in size)</li>
<li><a href="/sort">Sort</a> dictionary by the most common words</li>
<li><a href="/answer">Answer</a></li>

</ul>
